# Node artifact files
node_modules/

# JetBrains IDE
.idea/

# Assets that are auto generated
assets/*
package-lock.json

!assets/
!assets/guild-xp-requirements.json
!assets/guild-application-layouts/
!assets/images/

# Configs
config.json
config.prod.json